name: 'Build TOTEM Firmware'

on:
  push:
  workflow_dispatch:
    inputs:
      settings-reset-build:
        description: 'Build settings-reset firmware?'
        required: false
        type: boolean
        default: false

jobs:
  build:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@main
    permissions:
      contents: write
    with:
      settings-reset-build: ${{ inputs.settings-reset-build || false }}

      # This is the corrected block:
      # We add a pipe '|' after 'include:' and indent the list.
      include: |
        - board: seeeduino_xiao_ble
          shield: totem_left
        - board: seeeduino_xiao_ble
          shield: totem_right
